@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply min-h-screen;
  @import "./components/ui/button/button.scss";
  @import "./components/ui/navbar/navbar.scss";
  @import "./components/ui/footer/footer.scss";

  .layout {
    @apply flex mx-3 sm:mx-6 mb-6 mt-[72px] lg:mt-20 max-w-screen-xl xl:mx-auto xl:px-6;
    @apply min-h-[calc(100dvh-200px)] sm:min-h-[calc(100dvh-212px)] lg:min-h-[calc(100dvh-220px)];

    @import "./components/ui/select/select.scss";
    @import "./components/ui/textarea/textarea.scss";
    @import "./components/ui/input/input.scss";
    @import "./components/ui/input/inputWithLabel.scss";
    @import "./components/ui/loader/loader.scss";
    @import "./components/ui/pagination/pagination.scss";
    @import "./components/ui/modal/modal.scss";
    @import "./components/ui/selectStarRating/selectStarRating.scss";
    @import "./components/auth/loginForm/loginForm.scss";
    @import "./components/auth/registerForm/registerForm.scss";
    @import "./components/categories/categoryNavigation/categoryNavigation.scss";
    @import "./components/categories/categoryList/categoryList.scss";
    @import "./components/categories/categoryOverview/categoryOverview.scss";
    @import "./components/categories/categoryFilter/categoryFilter.scss";
    @import "./components/categories/categoryFilter/categoryFilterModal.scss";
    @import "./components/products//productFilters/productFilters.scss";
    @import "./components/products//productFilters/productFiltersModal.scss";
    @import "./components/products/productList/productList.scss";
    @import "./components/products/productDetails/productDetails.scss";
    @import "./components/products/productImages/productImages.scss";
    @import "./components/products/productOverwiev/productOverwiev.scss";
    @import "./components/shoppingCart/cartOverview/cartOverview.scss";
    @import "./components/shoppingCart/cartProductList/cartProductList.scss";
    @import "./components/shoppingCart/addToCart/addToCart.scss";
    @import "./components/opinions/opinionOverview/opinionOverview.scss";
    @import "./components/opinions/opinionList/opinionList.scss";
    @import "./components/profile/profileNavigation/profileNavigation.scss";
    @import "./components/addresses/addressOverview/addressOverview.scss";
    @import "./components/addresses/addressList/addressList.scss";
    @import "./components/addresses/selectAddressList/selectAddressList.scss";
    @import "./components/orders/orderOverview/orderOverview.scss";
    @import "./components/orders/orderList/orderList.scss";
    @import "./components/orders/orderCheckout/orderCheckout.scss";
    @import "./components/orders/orderProductList/orderProductList.scss";
    @import "./components/orders/orderSumary/orderSummary.scss";
    @import "./components/orders/orderDetails/orderDetails.scss";
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  input[type="number"] {
    appearance: textfield;
  }
}
