@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-white;
  .layout {
    @apply mx-3 sm:mx-6 my-4 max-w-screen-xl xl:mx-auto xl:px-6 h-[100%];
  }
  .overlay {
    @apply fixed w-[100%] h-[100%] bg-black opacity-0 transition-opacity duration-500 ease-in-out;
  }
  .overlay-block {
    @apply block top-[126px];
    @apply opacity-50;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import "./components/ui/navbar/navbar.scss";
@import "./components/products//productFilter/productFilter.scss";
@import "./components/products/productList/productList.scss";
